<button @onclick=RunMethod class="@className"><span>@ChildContent</span><span class="icon @icon"></span></button>

@code {
    [Parameter]
    public string? icon  { get; set; }
    [Parameter]
    public Action? action { get; set; }
    [Parameter]
    public Func<Task>? asyncAction { get; set; }
    [Parameter]
    public string? className { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {

    }

    private async Task RunMethod()
    {
        if(action != null)
        {
             action();
        }
        else if (asyncAction != null)
        {
            await asyncAction();
        }
    }
}
