@inherits LayoutComponentBase

<PageTitle>Advanced Csharp Lab2 Blazor</PageTitle>

<div class="page">
    
      
    <main>
        <div class="page-container">
            <NavMenu />
            <div>
                @Body;
            </div>
        </div>
    </main>

</div>
